project/project
project/target
target
tmp
.history
.cache
.dockerignore
*/.keep
Dockerfile
dist
bin
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
.DS_Store
*.log
*IS_UNDEFINED*
