logs
project/project
project/target
target
mariadb
tmp
.history
.cache
dist
bin
/.idea
/.bsp
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
.DS_Store
*.log
*IS_UNDEFINED*
